[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "third_party/ps5-homebrew-ui"]
	path = third_party/ps5-homebrew-ui
	url = https://github.com/blackbearreloaded/ps5-homebrew-ui
